<section class="container center-vh" *ngIf="isSuperAdmin()">
   
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-pulse" 
        [fullScreen] = "true">
    </ngx-spinner>

    <mat-card class="auth-card">
        <h1 class="mat-h1 text-center">Agregar competencia a {{dtLiga.nombre}}</h1>
        <hr>
        <form class="auth-form-container">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Ingresa el nombre de la competencia" [formControl]="fullnameFormControl">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label><br>
                <mat-hint>Mes/Día/Año</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <input matInput [matDatepicker]="picker" placeholder="Elija una fecha" [formControl]="dateFormControl">
            </mat-form-field>  
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Tope de participantes</mat-label>
                <input matInput type="number" placeholder="Ingresa el tope de participantes" [formControl]="topeFormControl">                
            </mat-form-field>           
            <div class="auth-form-button">
                <button mat-raised-button color="" (click)="registrar()">Registrar Competencia</button>
            </div> 
        </form>
    </mat-card>

</section>