<section class="container center-vh" *ngIf="isEmpresa()">
 
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-pulse" 
        [fullScreen] = "true">
    </ngx-spinner>

    <mat-card class="auth-card">
        <div *ngIf="!emailSended">
            <h1 class="mat-h1 text-center">Enviar invitación</h1>
            <p class="text-center">Ingresá el correo electrónico y le enviaremos una invitación.</p>
            <div class="center-vh m-tb-1">
                <img src="https://www.pngmart.com/files/7/E-Mail-PNG-Free-Download.png" alt="" data-name="email-letter" width="221" height="215" viewBox="0 0 561 493" xmlns:xlink="http://www.w3.org/1999/xlink">
            </div>
            <form class="auth-form-container">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ingresa tu email " [formControl]="emailFormControl"  required>
                    <mat-hint class="mat-error" *ngIf="errorMessage != ''">{{ errorMessage }}</mat-hint>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
                <div class="auth-form-button">
                    <button mat-raised-button color="" (click)="enviarInvitacion()">Enviar invitación</button>
                </div>
            </form>
        </div>
        <app-email-sended *ngIf="emailSended"></app-email-sended>
    </mat-card>
</section>