
.container {
    display: flex;
    flex-direction: column;
  }

.pencas-card{ 
  background-color: #3a3a3a;
}


.create-card{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 480px;
    padding: 15px 30px;
}
.create-card h2{
    text-align: center;

}
.mat-form-field{

    width: 100%;
}
.create-form-container{
    display: flex;
    flex-direction:column;
}
.create-form{
    width: fit-content;
}

.create-form-container button{
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    width: 100%;
}
.create-form-container .mat-icon{
    color: rgba(0, 0, 0, 0.20);
}
.create-form-container .mat-form-field-invalid .mat-icon{
    color: #f44336;
}

.create-form-button{
  text-align: center;
}

.auth-card{
  width: 100%;
  max-width: 480px;
  padding: 15px 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.auth-card h2{
  text-align: center;
}
.auth-form-container{
  display: flex;
  flex-direction: column;
}
.auth-form-container .auth-form-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
}

.auth-form-container .mat-icon{
  color: rgba(0, 0, 0, 0.20);
}
.auth-form-container .mat-form-field-invalid .mat-icon{
  color: #00ca8e;
}
.auth-form-container .auth-form-button{
  margin-top: .5rem;
}
.auth-google {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.auth-card .hover-underline-animation:after  {
  color: #00cfb4 !important;
  background-color: #00cfb4 !important;;
}
button{
  background-color: #00cfb4;
}

mat-card {
  background-color: beige;
}

input{
  color: #3a3a3a;
}
input::placeholder{
  color: rgb(0, 126, 126);
}

.billetera {
  border-style: dashed;
  border-color: #224cb5;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(90deg, rgba(110,255,205,1) 0%, rgba(12,250,127,0.3029586834733894) 35%, rgba(0,212,255,1) 100%);
  border-radius: 15px;
}

.b{
  font-size: 25px;
  color: rgb(0, 7, 84);
}

input:hover {
  background-color: #3ebff1;
}
h1, mat-label , p {
  color: #ffffff;
}
@media(min-width: 640px){
  .auth-card{
      width: 100%;
      max-width: 480px;
      padding: 30px 60px;
  }
}
